@import '_variables.scss';
@import "menu/menu.scss";
@import "video/video.scss";
@import "header/header.scss";
@import 'bootstrap/scss/bootstrap';
@import 'about/about.scss';
@import 'contacts/contacts.scss';
@import 'footer/footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Futura Futuris Light';
    src: url('/fonts/FuturaFuturisLightC.eot');
    src: url('/fonts/FuturaFuturisLightC.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaFuturisLightC.woff') format('woff'),
    url('/fonts/FuturaFuturisLightC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Futuris Bold';
    src: url('/fonts/FuturaFuturisC-Bold.eot');
    src: url('/fonts/FuturaFuturisC-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaFuturisC-Bold.woff') format('woff'),
    url('/fonts/FuturaFuturisC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'Futura Futuris Light';
    background: #000;
    box-sizing: border-box;
}
ul {
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.gold {
    color: #FFC107;
    font-weight: bold;
    font-size: 18px;
}
.header_button {
    padding: 15px 30px;
    background: none;
    font-size: 28px;
    font-weight: 500;
    //font-family: 'Futura Futuris Bold' ;
    color: #FCF7B3;
    border-color: #FCF7B3;
}
.list_img {
    position: absolute;
    filter: blur(1);
    z-index: 0;
}

