.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .carousel-item, .active {
        width: auto !important;
        margin-right: 0;
        align-items: center;

        video {
            max-height: 700px;
            z-index: 1 !important;
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    max-height: 500px;
    vertical-align: center;
    width: 10% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 99999 !important;
}
.carousel-controls {
    width: 100%;
    height: 100%;
}
.video {
    height: 100vh;
    background: #06101A;
    width: 100vw;

}
.carousel {
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
    .carousel__title {
        margin: 0 auto;

        h2 {
            color: white;
            margin-bottom: 42px;
            font-size: 52px;
        }
    }
}
@media only screen and (max-width: 1500px) {
    .video {
        height: 120vh;
    }
}
@media only screen and (max-width: 1300px) {
    .video video {
        width: 100% ;
    }
}
@media only screen and (max-width: 1100px) {

    .video {
        height: 100vh;
    }
}
@media only screen and (max-width: 991px) {
    .video {
        height: 88vh;
    }
    .video .h2 {
        font-size: 40px;
    }
}
@media only screen and (max-width: 850px) {
    .video {
        height: 76vh;
    }
}
@media only screen and (max-width: 750px) {
    .video {
        height: 70vh;
    }
}
@media only screen and (max-width: 650px) {
    .video {
        height: 61vh;
    }
}
@media only screen and (max-width: 400px) {
    .video {
        height: 68vh;
    }
}



//@media only screen and (max-width: 400px) {
//    .video {
//        height: 35vh;
//    }
//}

