.menu_page {
    background: #06101A;
    width: 100vw;

    img {
        width: 100%;
    }
}

.menu__section {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: #1a202c;
    z-index: -1;

    .menu__background {
        width: 100%;
        position: absolute;
        height: 100vh;
        background: url("img/menu_bg.jpg") center center fixed no-repeat;
        background-size: cover;
        z-index: -10;
        display: flex;
        justify-content: center;
        align-items: center;

        .header_button {
            //opacity: 0;
            transition: opacity 1s ease;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
        }
    }
    &:hover .header_button {
        opacity: 0.8;
    }
}

@media only screen and (min-width: 991px) {
    .menu_page {
        padding: 0 200px;
    }
}
