.menu_page {
    background: $bg_color;
    width: 100vw;

    img {
        width: 100%;
    }
}

.menu__section {
    background: url("img/menu_bg.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .header_button {
        opacity: 0;
        transition: opacity 0.3s ease;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }

    /* Показываем кнопку при наведении на .menu__section */
    &:hover .header_button {
        opacity: 0.8;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 7%;
        background: linear-gradient(to bottom, rgba(5, 33, 60, 1), transparent);
    }

    &::before {
        top: -1px;
    }

    &::after {
        bottom: -1px;
        transform: scaleY(-1); // Переворачиваем псевдоэлемент по вертикали
    }
}



@media only screen and (min-width: 991px) {
    .menu_page {
        padding: 0 200px;
    }

}
@media only screen and (max-width: 991px) {
    .menu__section {
        background-attachment: scroll;
    }
}
